@model Photo.Models.Image

@{
    ViewBag.Title = "Adaugare Poza";
}

<div class="row">
    <div class="col-md-6 text-center offset-md-3">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("New", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.ValidationSummary(false)
            </div>
            <div class="row justify-content-center my-4">
                @Html.TextArea("Description", null, new { placeholder = "Descriere", @class = "form-control" })
            </div>
            <div class="row justify-content-center my-4">
                    <div class="custom-file" style="width:50%">
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
            </div>
                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
            <div class="row justify-content-center my-4">
                @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
                    "Selectati categoria", new { @class = "form-control" })

            </div>

            @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })
            @Html.Hidden("filePath", "d", new { @class = "form-control" })
            @Html.HiddenFor(m => m.AlbumId)
            @Html.HiddenFor(m => m.UserId)


            <div class="row justify-content-center my-4">
                <button class="btn rounded-pill btn-lg btn-primary" style="width:50%;" type="submit" ><i class="mr-1 fa fa-upload"></i>Upload</button>
            </div>
        }
    </div>
</div>
