@model Photo.Models.Image
@{
    ViewBag.Title = "Imagine";
}
<br />
<div class="row">
    <div class="col-md-9 offset-md-1 mb-2">

        @using (Html.BeginForm(actionName: "Delete", controllerName: "Image", routeValues: new { id = @Model.PhotoId }, method: FormMethod.Post, htmlAttributes: new { @class = "d-inline" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn rounded-pill btn-sm btn-outline-danger pull-right" type="submit"><i class="fa fa-trash-o mr-1"></i>Sterge Poza</button>
        }
    </div>

</div>
<div class="row">
    <div class="col-md-9 offset-md-1">
        <img src="@Url.Content(Model.filePath)" style="width:100%;" />
    </div>
</div>

<div class="row">
    <div class="col-md-7 offset-md-2">

        <p>@Model.Description</p>
    </div>
</div>

<h3 class="text-center mt-4">Comentarii</h3>
<div class="row">
    <div class="col-md-5 offset-md-3">

        @using (Html.BeginForm(actionName: "New", controllerName: "Comment", method: FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br />
            @Html.TextArea("CommentText", null, new { rows = "3", style = "width:100%; max-width:100%", placeholder = "Comenteaza", @class = "mb-2 rounded-pill  form-control" })
            @Html.ValidationMessage("CommentText", "", new { @class = "text-danger" })
            @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })
            @Html.Hidden("UserId", (string)ViewBag.utilizatorCurent, new { @class = "form-control" })
            @Html.Hidden("PhotoId", (int)Model.PhotoId, new { @class = "form-control" })

            <button class="btn rounded-pill btn-primary pull-right" type="submit"><i class="fa fa-comments mr-1"></i>Adauga Comentariu</button>
        }
    </div>

</div>


@foreach (var comment in ViewBag.comments)
{

    <div class="row">
        <div class="col-md-5 offset-md-3">
            <h4>@comment.User.UserName</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-3 p-2">
            <p>@comment.CommentText</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-3  border-bottom border-warning">
            <p class=" pull-right">@comment.Date</p>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Comment", routeValues: new { id = comment.CommentId }, method: FormMethod.Post, htmlAttributes: new { @class = "d-inline" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn rounded-pill btn-sm btn-outline-danger " type="submit"><i class="fa fa-trash-o mr-1"></i>Sterge Comentariu</button>
            }
        </div>
    </div>

}
